*{
    background-color: red;
}

a{
    color: cyan;
    font-style: italic;
}


h1, h2{
    font-family: 'Poppins';
    color: blueviolet;
    font-weight: bold;
}


p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: greenyellow;
    font-size: 22px;
}

